<div class="container mt-3">
  <div class="d-flex justify-content-between">
    <h1>My Lists</h1>
    <%= link_to "Create a movie list", new_list_path, class:"btn btn-primary text-light p-3" %>
  </div>
  <br>
  <div class="cards">
    <% @lists.each do |list| %>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('https://source.unsplash.com/featured/#{list.name}&#{rand(1000)}')">
        <%= link_to list.name, list_path(list), class: 'text-light text-decoration-none'%>
      </div>
    <% end %>
  </div>
  <br>
</div>
