<div class="container mt-3">
  <div class="d-flex justify-content-between">
    <h1><%= @list.name %></h1>
    <%= link_to 'My lists', lists_path, class: 'text-primary text-decoration-none'%></li>
  </div>
</div>
